@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/*----- basis -----*/
* {
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}
:root {
    --co-dark: #1A3636;
    --co-dark-100: #40534C;
    --co-dark-100-70: rgba(64, 83, 76, 0.7);
    --co-dark-100-10: rgba(64, 83, 76, 0.1);
    --co-dark-200: #677D6A;
    --co-light: #D6BD98;
    --co-light-50: rgba(214, 189, 152, 0.5);
    --co-light-30: rgba(214, 189, 152, 0.3);
    --co-stadt: #ffd000;
    --co-land: #c1ac81;
    --co-white: #FFFFFF;
    --ga-around: 24px;
    --ga-table: 6px;
    --br-list: 24px;
    --br-full: 9999px;
    --he-list: 30vh;
    --he-intro: 95px;
}
body {
    background: var(--co-dark);
}

/*----- utilities -----*/
.hidden {
    display: none !important;
}
.mobile_exclusive {
    display: none;
}
.desktop_exclusive {}

/*----- base & desktop styles -----*/
main {
    padding: var(--ga-around);
    display: flex;
    flex-direction: column;
    gap: var(--ga-around);
    transition: margin 0.2s ease-in-out;
}
#intro {
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: var(--he-intro);
    position: sticky;
    top: var(--ga-around);
    z-index: 1;
    h1 {
        color: var(--co-light);
        font-size: 14px;
        font-weight: 600;
        span {
            font-weight: 900;
            font-size: 50px;
            line-height: 80%;
            letter-spacing: -1.5px;
        }
    }
    #searchbox {
        position: relative;
        input {
            width: 100%;
            border-radius: 50px;
            background: var(--co-dark-100-70);
            color: var(--co-light);
            padding-left: 20px;
            padding-right: 20px;
            height: 40px;
            backdrop-filter: blur(10px);
            transition:
                    border-top-color 0.2s ease-in-out,
                    border-left-color 0.2s ease-in-out,
                    border-bottom-color 0.2s ease-in-out,
                    border-right-color 0.2s ease-in-out,
                    outline-color 0.2s ease-in-out;
        ;
            border: 1px solid transparent;
            outline: 2px solid transparent;
            &::placeholder {
                color: var(--co-light-50);
            }
            &:hover,
            &:focus {
                border: 1px solid var(--co-light);
            }
            &:focus {
                outline: 2px solid var(--co-light-30);
            }
        }
        #buttons {
            position: absolute;
            right: 6px;
            top: 50%;
            transform: translateY(-50%);
            display: flex;
            gap: 6px;
            button {
                background: var(--co-light);
                color: var(--co-dark);
                border: none;
                height: 28px;
                padding-left: 12px;
                padding-right: 12px;
                border-radius: var(--br-full);
                cursor: pointer;
                transition: filter 0.2s ease-in-out;
                &:disabled {
                    opacity: 0.5;
                    cursor: not-allowed;
                }
                &:hover {
                    filter: brightness(0.8);
                }
            }
        }
    }
}
#badge {
    position: fixed;
    background: var(--co-light-50);
    border-radius: var(--br-full);
    font-size: 12px;
    padding: 4px 8px;
    border: 1px solid var(--co-light);
    color: var(--co-light);
    outline: 2px solid var(--co-light-30);
    transition: opacity 0.2s ease-in-out;
    backdrop-filter: blur(10px);
    max-width: 40ch;
    pointer-events: none;
    user-select: none;
    &.inactive {
        opacity: 0;
    }
    span {
        font-weight: 700;
        &:after {
            content: ': ';
        }
    }
}
#map {
    display: flex;
    position: relative;
    svg {
        max-height: calc(100vh - calc(calc(3 * var(--ga-around)) + var(--he-intro)));
        margin: 0 auto;
        .land {
            fill: var(--co-land);
            stroke-width: 0.6px;
        }
        .stadt {
            fill: var(--co-stadt);
            stroke-width: 0.6px;
        }
        .bundesland {
            fill: none;
            stroke-width: 3px;
        }
        .kreis {
            opacity: 0.2;
            stroke-miterlimit: 10;
            stroke: var(--co-dark);
            transition: opacity 0.2s ease-in-out;
            &:hover {
                opacity: 0.6;
            }
            &.active {
                opacity: 1;
            }
            &.focused {
                fill: red;
            }
        }
    }
}
#list {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: var(--ga-around);
    max-height: var(--he-list);
    overflow-y: scroll;
    overflow-x: clip;
    border-top-left-radius: var(--br-list);
    border-top-right-radius: var(--br-list);
    background: var(--co-light);
    color: var(--co-dark);
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.56) 0 22px 70px 4px;
    #table {
        width: 100%;
        border-collapse: collapse;
        tr {
            cursor: pointer;
            &:hover {
                background: var(--co-dark-100-10);
            }
            &:not(:last-child) {
                border-bottom: 1px solid var(--co-dark-100-10);
            }
            td {
                padding: var(--ga-table);
                &:first-child {
                    font-weight: 700;
                }
                &:not(:first-child) {
                    padding-left: 16px;
                    color: var(--co-dark-200);
                }
            }
        }
    }
}

/*----- mobile adaptations -----*/
@media (max-width: 640px) {
    :root {
        --he-list: 250px;
    }
    .mobile_exclusive {
        display: block;
    }
    .desktop_exclusive {
        display: none;
    }
    /*list*/
    #list {
        #table {
            tr {
                display: grid;
                grid-template-columns: 55px 1fr;
                td:nth-child(1) {
                    grid-column: 1 / 2;
                    padding-bottom: 0 !important;
                }
                td:nth-child(2) {
                    grid-column: 2 / 3;
                    padding-left: 0 !important;
                    padding-bottom: 0 !important;
                    &:before {
                        content: 'Kreis: ';
                        font-weight: 600;
                    }
                }
                td:nth-child(3) {
                    grid-column: 2 / 3;
                    padding-left: 0 !important;
                    padding-bottom: 0 !important;
                    &:before {
                        content: 'Bundesland: ';
                        font-weight: 600;
                    }
                }
                td:nth-child(4) {
                    grid-column: 2 / 3;
                    padding-left: 0 !important;
                    &:before {
                        content: 'Herleitung: ';
                        font-weight: 600;
                    }
                }
            }
        }
    }
}
