@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/*----- basis -----*/
* {
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox, Safari 18.2+, Chromium 121+ */
    &::-webkit-scrollbar {
        display: none;  /* Older Safari and Chromium */
    }
}
:root {
    --co-background: #1A3636;
    --co-background-1: #40534C;
    --co-background-1-70: rgba(64, 83, 76, 0.7);
    --co-background-1-10: rgba(64, 83, 76, 0.1);
    --co-background-2: #677D6A;
    --co-background-2-70: rgba(103, 125, 106, 0.7);
    --co-foreground: #D6BD98;
    --co-foreground-70: rgba(214, 189, 152, 0.7);
    --co-foreground-50: rgba(214, 189, 152, 0.5);
    --co-foreground-30: rgba(214, 189, 152, 0.3);
    --co-item-stadt: #ffd000;
    --co-item-land: #c1ac81;
    --co-item-grenzen: var(--co-background);
    --co-accent-positive: #a7cf43;
    --co-accent-negative: #da6f6f;
    --ga-around: 24px;
    --ga-table: 6px;
    --br-full: 9999px;
    --he-intro: 95px;
    --wi-list: 400px;
}

/*----- utilities -----*/
.hidden {
    display: none !important;
}
.button {
    border: none;
    height: 28px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: var(--br-full);
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}
.mobile_exclusive {
    display: none;
}
.desktop_exclusive {}

/*----- base & desktop styles -----*/
body {
    background: var(--co-background);
}
/*in main ct*/
main {
    padding: var(--ga-around);
    display: flex;
    flex-direction: column;
    gap: var(--ga-around);
    width: 100%;
    transition: width 200ms ease-in-out;
    &.listed {
        width: calc(100% - var(--wi-list));
    }
}
header {
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: var(--he-intro);
    position: sticky;
    top: var(--ga-around);
    z-index: 1;
}
#item_headline {
    display: flex;
    align-items: center;
    justify-content: space-between;
    #item_title {
        color: var(--co-foreground);
        font-size: 14px;
        font-weight: 600;
        span {
            font-weight: 900;
            font-size: 50px;
            line-height: 80%;
            letter-spacing: -1.5px;
        }
    }
    #btn_toggle_list {
        cursor: pointer;
        position: relative;
        width: 40px;
        height: 40px;
        border-radius: var(--br-full);
        border: none;
        background: var(--co-background-1-70);
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3px;
        transition: background 0.2s ease-in-out;
        &:hover {
            background: var(--co-foreground-50);
        }
        #data_count {
            position: absolute;
            width: 16px;
            height: 16px;
            border-radius: var(--br-full);
            top: -4px;
            right: -4px;
            font-size: 8px;
            font-weight: 600;
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--co-background);
            background: var(--co-accent-negative);
            &.has_results {
                background: var(--co-accent-positive);
            }
        }
    }
}
#item_searchbox {
    position: relative;
    #input_search {
        width: 100%;
        border-radius: 50px;
        background: var(--co-background-1-70);
        color: var(--co-foreground);
        padding-left: 20px;
        padding-right: 20px;
        height: 40px;
        backdrop-filter: blur(10px);
        transition:
                border-top-color 0.2s ease-in-out,
                border-left-color 0.2s ease-in-out,
                border-bottom-color 0.2s ease-in-out,
                border-right-color 0.2s ease-in-out,
                outline-color 0.2s ease-in-out;
    ;
        border: 1px solid transparent;
        outline: 2px solid transparent;
        &::placeholder {
            color: var(--co-foreground-50);
        }
        &:hover,
        &:focus {
            border: 1px solid var(--co-foreground);
        }
        &:focus {
            outline: 2px solid var(--co-foreground-30);
        }
    }
    #item_controls {
        position: absolute;
        right: 6px;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        gap: 6px;
        button {
            background: var(--co-foreground);
            color: var(--co-background-2);
            &:hover {
                background: var(--co-foreground-70);
            }
        }
    }
}
#item_map {
    display: flex;
    position: relative;
    height: calc(100vh - calc(3 * var(--ga-around) + var(--he-intro)));
    svg {
        margin: 0 auto;
        .land {
            fill: var(--co-item-land);
            stroke-width: 0.6px;
        }
        .stadt {
            fill: var(--co-item-stadt);
            stroke-width: 0.6px;
        }
        .bundesland {
            fill: none;
            stroke-width: 3px;
        }
        .kreis {
            opacity: 0.2;
            stroke-miterlimit: 10;
            stroke: var(--co-item-grenzen);
            transition: opacity 0.2s ease-in-out;
            &:hover {
                opacity: 0.6;
            }
            &.active {
                opacity: 1;
            }
            &.focused {
                fill: red;
            }
        }
    }
}
#data_tooltip {
    position: fixed;
    background: var(--co-foreground-50);
    border-radius: var(--br-full);
    font-size: 12px;
    padding: 4px 8px;
    border: 1px solid var(--co-foreground);
    color: var(--co-foreground);
    outline: 2px solid var(--co-foreground-30);
    transition: opacity 0.2s ease-in-out;
    backdrop-filter: blur(10px);
    max-width: 25ch;
    pointer-events: none;
    user-select: none;
    &.inactive {
        opacity: 0;
    }
    span {
        font-weight: 700;
        &:after {
            content: ': ';
        }
    }
}
/*in aside ct*/
aside {
    position: fixed;
    right: 0;
    top: 0;
    overflow-y: scroll;
    overflow-x: clip;
    overscroll-behavior-y: contain;
    background: var(--co-foreground);
    color: var(--co-background);
    width: 100%;
    max-width: var(--wi-list);
    height: 100vh;
    transform: translateX(100%);
    transition: transform 200ms ease-in-out;
    &.visible {
        transform: translateX(0);
    }
}
#item_tablecontrols {
    padding: var(--ga-around);
    display: flex;
    justify-content: flex-end;
    background: var(--co-background-1-10);
    border-bottom: 1px solid var(--co-background-1-10);
    #btn_close_list {
        background: var(--co-background-2);
        color: var(--co-foreground);
        &:hover {
            background: var(--co-background-2-70);
        }
    }
}
#data_table {
    width: 100%;
    border-collapse: collapse;
    tr {
        cursor: pointer;
        display: grid;
        grid-template-columns: 6ch 1fr;
        td:nth-child(1) {
            grid-column: 1 / 2;
            padding-bottom: 0 !important;
            padding-top: 8px;
        }
        td:nth-child(2) {
            grid-column: 2 / 3;
            padding-left: 0 !important;
            padding-bottom: 0 !important;
            padding-top: 8px;
            &:before {
                content: 'Kreis: ';
                font-weight: 600;
            }
        }
        td:nth-child(3) {
            grid-column: 2 / 3;
            padding-left: 0 !important;
            padding-bottom: 0 !important;
            &:before {
                content: 'Bundesland: ';
                font-weight: 600;
            }
        }
        td:nth-child(4) {
            grid-column: 2 / 3;
            padding-left: 0 !important;
            padding-bottom: 8px;
            &:before {
                content: 'Herleitung: ';
                font-weight: 600;
            }
        }
        padding: calc( var(--ga-around) / 2 ) var(--ga-around);
        transition: background 0.2s ease-in-out;
        &:hover {
            background: var(--co-background-1-10);
        }
        &:not(:last-child) {
            border-bottom: 1px solid var(--co-background-1-10);
        }
        td {
            padding: var(--ga-table);
            &:first-child {
                font-weight: 700;
            }
            &:not(:first-child) {
                padding-left: 16px;
                color: var(--co-background-2);
            }
            &#item_empty {
                font-weight: 400;
                color: var(--co-background-2);
                width: 240px;
                margin-bottom: 8px;
            }
        }
    }
}

/*----- mobile adaptations -----*/
@media (max-width: 800px) {
    :root {
        --ga-around: 18px;
        --ga-table: 1px;
        --br-list: 18px;
        --he-list: 123px;
        --he-intro: 78px;
    }
    .mobile_exclusive {
        display: block;
    }
    .desktop_exclusive {
        display: none;
    }
    /*in main ct*/
    main {
        transition: filter 0.2s ease-in-out;
        &.listed {
            width: 100%;
            filter: brightness(50%);
        }
    }
    header {
        gap: 8px;
    }
    #item_headline {
        #item_title {
            span {
                font-size: 35px;
            }
        }
    }
    #item_searchbox {
        #item_controls {
            gap: 3px;
        }
    }
    #data_tooltip {
        display: none;
    }
    /*in aside ct*/
    aside {
        z-index: 10;
        width: calc(100% - 50px);
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
    #data_table {
        tr {
            &:hover {
                background: transparent;
            }
        }
    }
}
